module <%= workflow_module_name %>
  extend ActiveSupport::Concern

  included do
    include AASM

    aasm column: :<%= attribute_name %>, enum: true do
      state :draft, initial: true
      state :submitted, :approved, :rejected, :paid

      event :submit do
        transitions from: :draft, to: :submitted
      end

      event :approve do
        transitions from: :submitted, to: :approved
      end

      event :reject do
        transitions from: :submitted, to: :rejected
      end

      event :pay do
        transitions from: :approved, to: :paid
      end
    end
  end
end
