require "rails_helper"

describe "<%= class_name %> Deactivation", type: :feature, js: true do
  let!(<%= singular_name %>) { create(:<%= singular_name %>, active: true) }
  let(:<%= singular_name %>_page) { <%= class_name %>Page.new(url: admin_<%= plural_name %>_path, model: <%= singular_name %>) }

  before { <%= singular_name %>_page.visit_page }

  it "deactivates <%= singular_name %> from list actions" do
    click_deactivation_link_for(<%= singular_name %>)
    accept_confirmation

    expect(<%= singular_name %>_page).to have_model_deactivated
    expect(<%= singular_name %>.reload).not_to be_active
  end

  it "deactivates <%= singular_name %> from show page" do
    click_show_link_for(<%= singular_name %>)
    click_form_deactivation_link_for(<%= singular_name %>)
    accept_confirmation

    expect(page).to have_content("deactivated")
  end

  it "disables deactivate button if already inactive" do
    <%= singular_name %>.update(active: false)
    <%= singular_name %>_page.visit_page

    within(row_css_for(<%= singular_name %>)) do
      expect(page).not_to have_selector(".btn-deactivate-item")
    end
  end
end
