.label-pill {
  border-radius: 1rem !important;
}

// Open state for the dropdown
.open, .show {
  > a {
    outline: 0;
  }
}

// navbar dropdown fix
.navbar .dropdown-toggle {
  @extend .nav-link;

  .img-avatar {
    height: 35px;
    margin: 0 10px;
  }
}
